/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Menu de Navegação no topo */
header {
    background-color: #2c3e50;
    padding: 10px;
}

.topnav {
    display: flex;
    justify-content: center;
    background-color: #2c3e50;
    gap: 30px;
}

.topnav a {
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.topnav a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

/* Estilos principais */
main {
    padding: 40px 20px;
}

.intro h1 {
    text-align: center;
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 40px;
}

/* Lista e seções */
.lista {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.section img {
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-content {
    flex: 1;
}

.text-content h2 {
    font-size: 2em;
    color: #2c3e50;
    margin-bottom: 20px;
}

.text-content ul {
    list-style: none;
    padding: 0;
}

.text-content li {
    background: #f4f4f4;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
}

.text-content li:hover {
    background-color: #e0e0e0;
}

/* Rodapé */
footer {
    background-color: #2c3e50;
    color: #fcfcfc;
    padding: 40px 20px;
    text-align: center;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.footer-content {
    text-align: center;
}

.footer-rony {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-rony img {
    border-radius: 10%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 5px;
    display: inline-block;
    width: 30px; 
    height: 30px;
    transition: transform 0.3s ease;
    filter: invert(100%); /* Tornar os ícones brancos */
}

.social-icons img {
    width: 100%;  
    height: auto;
}

.social-icons a:hover {
    transform: scale(1.1);
}

/* Responsividade */
@media (max-width: 768px) {
    .section {
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer-content {
        margin-bottom: 20px;
    }
}

#back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    background-color: transparent; /* Remover a cor de fundo */
    border: none; /* Remover a borda */
    cursor: pointer;
    padding: 0; /* Remover o padding */
}

#back-to-top img {
    width: 35px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 35px;
}

#back-to-top.show {
    display: block;
}

